#authentication-wrapper {
  width: 300px;
  text-align: center;
  background: #c6cac6;
}

#wrap {
  margin-bottom: 20px;
}

#wrap img {
  width: 82px;
  bottom: 65px;
}

#welcome-message {
  margin: 20px;
  padding: 20px;
}

.submit-btn {
  width: 74%;
  margin: 20px 0;
}
